.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-Shape {
  width: 8px;
}

.icon-basket {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 16px;
  height: 24px;
}

.icon-search {
  position: absolute;
  left: 52px;
  width: 18px;
  height: 18px;
}

.icon-menu-burger {
  position: absolute;
  top: 22px;
  left: 16px;
  width: 20px;
  height: 15px;
}

.icon-insta {
  width: 19px;
  height: 19px;
}

.icon-twitter {
  width: 20px;
  height: 16px;
}

.icon-snapchat {
  width: 19px;
  height: 18px;
}

.icon-facebook {
  width: 10px;
  height: 19px;
}

.icon-youtube {
  width: 21px;
  height: 15px;
}

.icon-chevrondown {
  width: 1.625em;
}

.icon-chevrondown1 {
  width: 0.5830078125em;
}
