:root {
  --main-bg-text: white;
  --second-text-btnbg: black;
  --second-bgc: #f7f7f7;
  --third-text: #4a4a4a;
  --action-text: rgb(51, 51, 51);
  --backdrop-bg: #d8d8d8;

  --main-border: #e1e0e1;
  --input-bg: rgba(247, 247, 247, 0.24);
  --txt-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  --second-txt-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  --mob-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
