<header class="header">
  <div class="header__delivery">
    <span>We deliver Worldwide</span>
    <span class="header__delivery-stores">
      <svg class="icon icon-Shape">
        <use href="./images/sprite.svg#icon-Shape"></use>
      </svg>Our stores</span>
  </div>
  <div class="container">
  <div class="header__container">
    <div class="header__mobile">
    <svg class="icon icon-menu-burger">
      <use href="./images/sprite.svg#icon-menu-burger"></use>
    </svg>
    <svg class="icon icon-search">
      <use href="./images/sprite.svg#icon-search"></use>
    </svg>
  </div>
    <span class="header__logo">Aurora</span>
    <svg class="icon icon-basket">
      <use href="./images/sprite.svg#icon-basket"></use>
    </svg>
  </div>
  </div>
</header>
