<header class="header">
  <div class="container">
    <div class="header__menu">
      <svg class="icon icon-menu-burger">
        <use href="./images/sprite.svg#icon-menu-burger"></use>
      </svg>
    </div>
    <div class="header__search">
      <svg class="icon icon-search">
        <use href="./images/sprite.svg#icon-search"></use>
      </svg>
    </div>
    <div class="header__logo">Aurora</div>
    <div class="header__busket icon-basket">
      <svg class="icon icon-basket">
        <use href="./images/sprite.svg#icon-basket"></use>
      </svg>
    </div>
  </div>
</header>
