.footer {
  color: var(--second-text-btnbg);
  padding: 24px 0 0;

  // Registration form
  &__form {
    max-width: 440px;
    padding: 0 16px 24px;
    margin: 0 auto;

    &-text {
      font-size: 12px;
      margin-bottom: 14px;
      line-height: calc(18 / 12);
      letter-spacing: 0.072em;
    }

    &-wrapper {
      display: flex;
      gap: 8px;
    }

    &-input {
      width: 100%;
      height: 32px;
      border: 1px solid var(--main-border);
      border-radius: 3px;
      padding-left: 11px;

      font-size: 11px;
      line-height: calc(16 / 11);
      letter-spacing: 0.072em;

      &::placeholder {
        color: var(--third-text);
      }
    }

    &-button {
      width: 100%;
      max-width: 96px;
      border-radius: 3px;

      background-color: var(--second-text-btnbg);
      color: var(--main-bg-text);

      font-size: 10px;
      font-weight: 600;
      line-height: calc(20 / 10);
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }

  &__wrapper {
    background-color: var(--second-bgc);
    padding: 0 16px;
  }

  // Navigation menu items
  &__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 440px;

    margin: 0 auto;
    padding: 16px;
    padding-top: 2px;
    // gap: 12px;

    font-size: 16px;
    line-height: calc(18.5 / 16);
    letter-spacing: 0.0725em;

    &--link {
      font-family: 'Cormorant Garamond';
      padding-top: 12px;
      padding-bottom: 12px;
    }

    &--item {
      display: flex;
      flex-direction: column;
      position: relative;

      &:not(:last-child) {
        border-bottom: 1px solid var(--main-border);

        @media screen and (min-width: 1040px) {
          border: none;
          margin-right: 40px;
          width: 146px;
          justify-content: space-between;
        }
      }

      &:not(:last-child)::after {
        position: absolute;
        right: 16px;
        top: 0.75em;

        content: url(../images/chevrondown1.svg);
        width: 7px;
        height: 12px;
        background-size: contain;

        color: var(--second-text-btnbg);
        @media screen and (min-width: 1040px) {
          display: none;
        }
      }

      @media screen and (min-width: 1040px) {
        &:nth-child(1) {
          margin-right: 48px;
        }
      }

      &.open::after {
        transform: rotate(90deg);
      }
    }

    &--social {
      @media screen and (max-width: 1039px) {
        display: none;
      }
    }

    &--subList {
      display: flex;
      flex-direction: column;
      gap: 6px;
      position: relative;

      font-size: 12px;
      line-height: calc(19 / 12);
      letter-spacing: 0.0083em;

      @media screen and (max-width: 767px) {
        gap: 10px;
        padding-bottom: 15px;
      }

      @media screen and (max-width: 1039px) {
        display: none;
      }

      @media screen and (min-width: 1040px) {
        margin-top: 17px;
      }
    }

    @media screen and (min-width: 1040px) {
      flex-direction: row;
      gap: 0;
      max-width: 100%;
      padding-top: 26px;
      padding-bottom: 38px;
    }
  }

  // Network's hrefs
  &__networks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 24px 16px 0;

    @media screen and (min-width: 1040px) {
      padding-right: 0;
      padding-left: 0;
      gap: 16px;
    }
  }

  &__copyright {
    text-align: center;
    padding-bottom: 24px;

    font-size: 9px;
    line-height: calc(13 / 9);
    letter-spacing: 0.0555555em;
  }
}

.footer__nav-list--subList a {
  color: var(--second-text-btnbg);
}

.footer a {
  cursor: pointer;
}

.show {
  display: flex;
}
