.header {
  width: 100%;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);

  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 0.389314) 0%,
    rgba(21, 21, 21, 0.209901) 33.39%,
    rgba(0, 0, 0, 0.0001) 95.04%
  );

  &:hover,
  &:focus,
  &:hover .header__nav-item a,
  &:focus .header__nav-item a {
    background: none;
    background-color: var(--main-bg-text);
    color: var(--second-text-btnbg);
  }

  &:hover ::-webkit-input-placeholder,
  &:focus ::-webkit-input-placeholder,
  &__form:focus-within ::-webkit-input-placeholder {
    color: var(--second-text-btnbg);
  }

  &:hover .header__form-btn,
  &:focus .header__form-btn,
  &:hover .header__busket,
  &:focus .header__busket,
  &__form:focus-within .header__form-btn {
    fill: var(--second-text-btnbg);
  }

  &:hover .header__delivery,
  &:focus .header__delivery,
  &:hover .header__input,
  &:focus .header__input,
  &__form:focus-within .header__input {
    background-color: var(--second-bgc);
  }

  &__delivery {
    position: relative;
    padding: 4px 0;

    text-align: center;
    background-color: var(--main-bg-text);
    color: var(--second-text-btnbg);

    font-size: 11px;
    font-weight: 500;
    line-height: calc(16 / 11);
    letter-spacing: 0.06945em;

    &-stores {
      display: inline-flex;
      align-items: center;
      gap: 6px;

      position: absolute;
      right: 24px;
      top: 5px;

      font-size: 10px;
      font-weight: 400;
      line-height: calc(15 / 10);
      letter-spacing: 0.0092em;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__mobile {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: center;

    max-width: 1400px;
    padding: 20px 16px 32px;
    margin: 0 auto;

    // @media screen and (min-width: 768px) {
    //   justify-content: center;
    // }

    @media screen and (min-width: 768px) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &__logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 0.854;
    letter-spacing: 0.07em;
    text-shadow: var(--txt-shadow);

    @media screen and (min-width: 768px) {
      position: absolute;
      left: 24px;
    }
  }

  &__navSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    max-width: 70%;

    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 1040px) {
      max-width: 640px;
    }
  }

  &__form {
    position: relative;
    margin: 0 auto;

    &-btn {
      position: absolute;
      top: 16px;
      right: 16px;
      fill: var(--main-bg-text);

      background-color: transparent;
    }
  }

  &__input {
    padding: 16px;
    border-radius: 3px;
    height: 48px;

    font-size: 11px;
    font-weight: 500;
    line-height: calc(16 / 11);
    letter-spacing: 0.073em;
    color: var(--second-text-btnbg);
    background-color: var(--input-bg);

    &::-webkit-input-placeholder {
      color: var(--main-bg-text);
    }

    @media screen and (max-width: 1039px) {
      width: 380px;
    }

    @media screen and (min-width: 1040px) {
      width: 584px;
    }
  }

  &__nav-list {
    display: inline-flex;
    justify-content: center;
    gap: 32px;
    text-shadow: var(--second-txt-shadow);
    & a {
      color: var(--main-bg-text);
      text-transform: uppercase;
    }
  }

  &__busket {
    fill: var(--main-bg-text);
  }
}
