.searchBar {
  display: flex;
  justify-content: center;
  padding: 0 16px 16px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__form {
    position: relative;
    width: 440px;

    &-btn {
      position: absolute;
      top: 16px;
      right: 16px;

      background-color: transparent;
      fill: var(--main-bg-text);
    }
  }

  &__input {
    padding: 16px;
    border-radius: 3px;
    height: 48px;
    width: 100%;

    font-size: 11px;
    font-weight: 500;
    line-height: calc(16 / 11);
    letter-spacing: 0.073em;
    background-color: var(--second-bgc);

    &::-webkit-input-placeholder {
      color: var(--main-bg-text);
    }
  }
}
